// use  sass gitlab.scss gitlab.css
//  or  sass --watch gitlab.scss:gitlab.css

$primary-color:    #a1a1a1;
$secondary-color:  #fff;

$link-color:          #1ab0b5;
$link-visited-color:  #1ab0b5;

$normal-font-size:   16pt;
$medium-font-size:   .9em;
$small-font-size: 11pt;

$margin-left: 40pt;
$margin-top: 1em;

// GitLab specific

// shorten full-length comments
div.item-snippet {
	max-height: 10em;
	overflow-y: hidden;
}

div.item-snippet pre {
	margin-top: 0pt;
	margin-bottom: 0pt;
}
