// use  sass news.scss news.css
//  or  sass --watch news.scss:news.css

$primary-color:    #a1a1a1;
$secondary-color:  #fff;

$link-color:          #1ab0b5;
$link-visited-color:  #1ab0b5;

$std-font-size:   22px;
$mid-font-size:   .9em;
$small-font-size: 11px;

$margin-left: 40px;
$margin-top: 1em;

.last-update,
.last-updated {
	font-size: $small-font-size;
	color:     $secondary-color;
}

#show-headlines,
#show-snippets,
#show-fulltext  {
	cursor: pointer;
}

div.section,
div.header,
div.item
{
		 margin: 0;
		 padding: 0;
}

hr.item-separator,
hr.filler {
		 border: none;
		 background-color: #ccc;
		 color: #ccc;
		 height: 1px;
}

.item {
	font-size: $mid-font-size;
	
	h1, h2, h3, h4, h5, h6, b {
		font-size: $mid-font-size;
	}
	
	p, h1, h2, h3, h4, h5, h6 {
		margin: 2px 0px 2px 0px;   // top, right, bottom, left
		padding: 0;
	}

	ul, ol {
		margin: 2px 0px 2px 0px;   // top, right, bottom, left
		// note: do NOT change default padding
	}
	
	b, h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}

	.item-content,
	.item-summary {
		display: none;  // hide on startup
	}

	.item-footer {
		font-size: $small-font-size;
		color:     $secondary-color;  
	}
}

.item-title {
	font-size: $std-font-size;
	font-weight: normal;
}

.feed-title {
	font-size: $small-font-size;
}
 
.item-published {
	font-size: $small-font-size;
	color:     $secondary-color;
}

// Additions to Pluto theme

.item table {
	padding-left: 50px;
	padding-bottom: 7px;
}

.item table tr td {
	background-color: #000;
	padding: $small-font-size;
}

.item-feed-avatar {
	background-color: #fff;
	width: 40px;
	height: 40px;
}

.item-feed-title {
	font-size: $std-font-size;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.item-feed-title a {
	color: $secondary-color;
	padding-left: $small-font-size;
}

.subscriptions {
	display: inline;
	list-style-type: none;
	padding-left: 0px;
}

p.subscription {
	margin-bottom: 1em;
}

div.item td {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

div.item-snippet {
	margin-bottom: 0px;
}

div.item-footer {
	padding-top: $margin-top;
	margin-bottom: .4em;
}

div.item-snippet,
div.item-footer {
	margin-left: 2px;
	padding-left: 11px;
	border-left: thin solid grey;
}

p:empty {
	font-size: 0px;
}
